@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
   font-family: "Larsseit";
   src: url(../fonts/Larsseit-Bold.woff2) format(woff2), url(../fonts/Larsseit-Bold.woff) format(woff);
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Larsseit";
   src: url(../fonts/Larsseit-Medium.woff2) format(woff2), url(../fonts/Larsseit-Medium.woff) format(woff);
   font-display: swap;
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "Larsseit";
   src: url(../fonts/Larsseit-Regular.woff2) format(woff2), url(../fonts/Larsseit-Regular.woff) format(woff);
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url(../fonts/Lato-Bold.woff2) format(woff2), url(../fonts/Lato-Bold.woff) format(woff);
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url(../fonts/Lato-Regular.woff2) format(woff2), url(../fonts/Lato-Regular.woff) format(woff);
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}

body{
   font-family: "Roboto"
}

.title{
   font-family: "Roboto";
   font-weight: 900;
}
.text{
   font-family: "Larsseit";
   font-weight: 700;
}
.cities{
   font-family: "Larsseit";
   font-weight: 400;
}
.class{
   font-family: "Larsseit";
   font-weight: 500;
}
.area{
   font-family: "Lato";
   font-weight: 400
}
.turism{
   font-family: "Lato";
   font-weight: 700
}
.footer{
   font-family: "Roboto";
   font-weight: 700
}

p{
   color: green;
}
p{
   color: red;
}
.text{
   color: green;
}
#citizen{
   color: blue;
}
.text-block{
   color: aqua;
}
p.text{
   color: blueviolet;
}